In [4]:
import pandas as pd

In [5]:
import numpy as np

In [10]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
[np.where(i==ser1)[0].tolist()[0]for i in ser2]

[5, 4, 0, 8]

In [12]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)
np.mean((truth-pred)**2)

0.19912638441156605

In [ ]:
question 7

In [13]:
ser = pd.Series(['how', 'to', 'write', 'code?'])
ser.map(lambda x:x.title())

0      How
1       To
2    Write
3    Code?
dtype: object

In [14]:
ser = pd.Series(['how', 'to', 'write', 'code?'])
ser.map(lambda x:x[0].upper()+x[1:])

0      How
1       To
2    Write
3    Code?
dtype: object

In [ ]:
Q8

In [15]:
ser = pd.Series(['how', 'to', 'write', 'code?'])
ser.map(lambda x:len(x))

0    3
1    2
2    5
3    5
dtype: int64

In [ ]:
Q9

In [17]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
print(ser.diff().diff().tolist())
print(ser.diff().tolist())

[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]
[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]

In [ ]:
Q10

In [18]:
import dateutil.parser as parse

In [24]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
from dateutil.parser import parse
ser.map(lambda x:parse(x))

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [ ]:
Q 11

In [27]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
from dateutil.parser import parse
ser_ts=ser.map(lambda x:parse(x))
#day of month
print('date',ser_ts.dt.day.tolist())
#week number
print('week number',ser_ts.dt.weekofyear.tolist())
#day of year
print('day of the year',ser_ts.dt.dayofyear.tolist())
#day of week
print('day of week:',ser_ts.dt.weekday_name.tolist())

date [1, 2, 3, 4, 5, 6]
week number [53, 5, 9, 14, 19, 23]
day of the year [1, 33, 63, 94, 125, 157]
day of week: ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

In [ ]:
Q 12

In [31]:
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])
from dateutil.parser import parse
#parse the date
ser_ts=ser.map(lambda x:parse(x))
#construct date using with date as 4
ser_datestr=ser_ts.dt.year.astype('str')+'-'+ser_ts.dt.month.astype(str)+'-'+'04'
print (ser_datestr)
#format it
[parse(i).strftime('%Y_%m_%d')for i in ser_datestr]

0    2010-1-04
1    2011-2-04
2    2012-3-04
dtype: object

['2010_01_04', '2011_02_04', '2012_03_04']

In [32]:
ser.map(lambda x: parse ('04'+ x))

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

In [37]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
from collections import Counter
mask=ser.map(lambda x:sum([lambda x:sum([Counter(x.lower()).get(i,0)for i in list('aeiou'])>=2)
ser[mask]

SyntaxError: invalid syntax (<ipython-input-37-e45a2b87359d>, line 3)

In [39]:
import re
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
mask=emails.map(lambda x:bool(re.match(pattern,x)))
emails[mask]

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

In [40]:
#solution 3 (as list)
[x[0]for x in [re.findall(pattern,email)for email in emails]if len(x)>0]

['rameses@egypt.com', 'matt@t.co', 'narendra@modi.com']

In [41]:
#solution 2 (as series of list)
emails.str.findall(pattern,flags=re.IGNORECASE)

0                     []
1    [rameses@egypt.com]
2            [matt@t.co]
3    [narendra@modi.com]
dtype: object

In [ ]:
Q 15

In [43]:
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weights.tolist())
print(fruit.tolist())
weights.groupby(fruit).mean()

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['carrot', 'carrot', 'banana', 'banana', 'banana', 'apple', 'apple', 'carrot', 'carrot', 'banana']

apple     6.5
banana    5.5
carrot    5.0
dtype: float64